body{
    background-image: url("../../public/images/background1.jpg");
    background-size: cover;
}
.profile{
    width: 150px;
    height: 150px;
    border-radius: 150px;
    background-image: url("../../public/images/blackDPrAVI.jpg");
    background-size: cover;
    background-position: 100%;
    position: absolute;
    left:250px;
    top: 50px;
}
.profile-shade:hover{
    background-color: rgba(0, 0, 0, 0);
    transform: translateX(150px);
    transition-duration: 500ms;
    overflow: hidden;
    width: 150px;
    height: 150px;
}
 .profile-shade{
    background-color: rgba(0, 0, 0, 0.3);
    height: 150px;
    width: 150px;
    border-radius: 150px;
    position: absolute;
    left:250px;
    top: 50px;
    z-index: 1;
    transition-duration: 500ms;
    overflow: hidden;
}
.h1{
    position: absolute;
    top:60px;
    left: 700px;
}
.h2{
    position: absolute;
    top:120px;
    left: 700px;
}

.shade{
    background-color: rgba(0, 0, 0, 0.5);
    height: 100vh;
    /* display: flex;
    justify-content: space-between;
    align-items: center; */

}
main>div{
    position: absolute;
    top: 300px;
    left: 270px;
}
a{
    margin-right: 10px;
}
header{
    width: 200px;
}
main{
    width: 900px;
}
