body{
    background-image: url("../../public/images/background1.jpg");
    background-size: cover;
    
}
.profile{
    width: 150px;
    height: 150px;
    border-radius: 150px;
    background-image: url("../../public/images/blackDPrAVI.jpg");
    background-size: cover;
    background-position: 100%;
    position: absolute;
    left:500px;
    top: 120px;
}
.profile-shade:hover{
    background-color: rgba(0, 0, 0, 0);
}
 .profile-shade{
    background-color: rgba(0, 0, 0, 0.3);
    height: 150px;
    width: 150px;
    border-radius: 150px;
    position: absolute;
    left:548px;
    top: 143px;
    z-index: 1;
}
.h1{
    position: absolute;
    top:20px;
    left: 470px;
}
.h2{
    position: absolute;
    top:80px;
    left: 530px;
}
.shade{
    background-color: rgba(0, 0, 0, 0.5);
    height: 100vh;
}
main div{
    position: absolute;
    top: 300px;
    left: 480px;
}